<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mp3cutter.voicechanger.soundeffect.soundchanger">

<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name=".AudioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.PrivaciActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SavedSuccessfully"
            android:exported="true" />
        <activity
            android:name=".activity.Mystudio2"
            android:exported="true" />
        <activity
            android:name=".activity.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EditEffectSuccess" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities=".provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".VoiceChangeFireBase"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <service -->
        <!-- android:name=".service.TerminalService" -->
        <!-- android:process=":update_service" /> -->
        <service android:name=".services.RecordingService" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".androidaudiorecorder.AudioRecorderActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/audio" />
        <activity
            android:name=".activity.EffectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ScanActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MyStudioActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AppIntroActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.TrimAudioActivity"
            android:label="@string/trim_audio"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>